---
layout: handbook-page-toc
title: "Engineering Analytics Team"
description: "Engineering Analytics Team"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}


This document is to clearly and transparently outline the plan and objective of the new Engineering Analytics team.

The goal of the team is to build and improve on the data capabilities needed to support a highly productive Engineering Division at GitLab. This team leverages our data analytics staffing and applies their efforts to the highest needs of Engineering.

This team will expand and improve on the Engineering specialty of the [Data Analyst job family](https://about.gitlab.com/job-families/finance/data-analyst/#engineering) and will have a clear career matrix to support further career development.

## Team Responsibilities
* Provide efficient data analytics and dashboarding capabilities on top of GitLab’s Data team warehouse infrastructure.
* Own creation, optimization and maintenance of the Engineering Division's and its departments' KPIs and PIs.
* Drive the creation, standardization, and implementation of all performance indicators.
* Propose new data and measurements to provide additional clarity to existing measurements.
* Analyze trends and propose strategic improvements to Engineering Leaders.
* Ensure a smooth and efficient Key Review process with proactive performance indicator preparation.
* Take feedback from stakeholders and iteration and improve Performance Indicators.
* Lean on our values and continue to drive and achieve metric excellence

## Team Structure

This new team will be a new function under the Quality Department operating as a team of Data Analysts, led by an Engineering Manager reporting to the Quality Department Leader.


## How this team operates

While this team operates as a single team reporting to one manager, we emphasize on ensuring the prioritization and needs of Engineering Leaders via stable counterparts.

### Bi-weekly sync with assigned counterparts

The Data Analysts counterparts will have bi-weekly meetings with their designated department leader to:
* Review work prioritization
* Capture strategic asks
* Ensure completion of follow up for Key Review

### Weekly review with GitLab’s Data Team


This team will have standing weekly sync with the Data team to:
* Drive to resolution data dependencies
* Propose initiatives to improve our data accuracy and hygiene
* Improve our response time as a whole to our stakeholders
* Board and scheduling work
* This team will continue to use the [Engineering Metrics board](https://gitlab.com/gitlab-com/www-gitlab-com/-/boards/1942495) with DRIs in the team owning the tasks in the assigned counterpart areas in Engineering. 

### Stable Counterpart

The team structure will leverage [stable counterpart](https://about.gitlab.com/handbook/leadership/#stable-counterparts) assignees to ensure proper allocation and attention needed to service all Engineering Departments and Leaders and still promote cross-functional collaboration and ownership of an area.

### Counterpart Assignments

We assign the stable counterpart by Engineering Division’s sub-departments.

| Engineering department | Data domains |
| ------ | ------ |
| `Development` | - MR Rate <br> - Code review/merge times <br> - Merge Request types |
| `Infrastructure` | - Spend efficiency <br> - TBD |
| `Quality` | - Defect age <br> - TBD  |
| `UX` | - UX debt age <br> - TBD |
| `Security` | - TBD <br> - TBD |
| `Support` | - TBD <br> - TBD |


* Development Department
  * Domain specificality:
    * Code review/merge times
    * Merge request activity and trends
    * Merge request types
* Infrastructure Department
  * Domain specificality:
    * Infrastructure spend efficiency
    * Roadmap https://about.gitlab.com/blog/2020/10/27/how-we-optimized-our-infrastructure-spend-at-gitlab/
    * Infrastructure product related metrics
    * Incidents per product group
    * Corrective actions
    * MTTP
    * MTTR
    * Finance Partnership
    * Cost forecasting work
* Quality Department
  * Domain specificality:
    * Bug SLO/SLA
    * Defect rates
    * Pipeline efficiency
* UX Department
  * Domain specificality:
    * SUS Scores
    * UX debt
    * Refinement MR rate
* Security Department
  * Domain specificality:
    * Security Vulnerabilities
    * Security SLA
* Support Department
  * Domain specificality:
    * Ticket time to respond
    * Ticket time to triage

Data analysts assigned to one area are experts in that area and may not have the knowledge depth in other areas. As such contributing cross domain expertise will only be limited to Sisense charting and not beyond this data layer.

### Common Responsibilities
In addition to the counterpart relationships, every data analyst on this team is responsible for:
* Operational excellence in Sisense dashboards
* Addressing data representation in-consistency/defects in a timely manner
* Metric representation consistency and ensuring our [guidelines](https://about.gitlab.com/handbook/engineering/performance-indicators/#guidelines) are met
* Showcasing our work transparently to the world via our handbook.
* Improve our handbook pages iteratively, ensure that it’s is up to date



